/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.news-feed .beans-animate {
    background: url("../images/news-beans1.png") no-repeat center center transparent;
}

.news.promo {
    background: url("../images/news-bg1.png") bottom center no-repeat, url("../images/pic1bg.png") center calc(100% - 60px) repeat-x;
    min-height: 530px;
}

.news-feed__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.masonry__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    min-height: 250px;
    padding: 9px;
}

.masonry__item_inner {
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0px 5px 15px 0px #dbdcd8;
            box-shadow: 0px 5px 15px 0px #dbdcd8;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: white;
}

.masonry__item:hover .news-title__link {
    color: #f4a344;
    text-decoration: underline;
}

.news-title__link {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    max-height: 115px;
    /* max-width: 100%;
    white-space: nowrap;  */
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}

.news-image__link {
    border-radius: 5px;
    height: 100%;
    padding: 10px;
}

.news-image {
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background: url("../images/no-image.png") no-repeat center center / cover transparent;
}

.news-right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: start;
    padding: 10px 10px 10px 0;
}

.masonry__item:nth-child(5n+1) {
    -ms-flex-preferred-size: 56.25%;
    flex-basis: 56.25%;
}

.masonry__item:nth-child(5n+2) {
    -ms-flex-preferred-size: 43.75%;
    flex-basis: 43.75%;
}

.masonry__item:nth-child(5n+3) {
    -ms-flex-preferred-size: 37.5%;
    flex-basis: 37.5%;
}

.masonry__item:nth-child(5n+4) {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
}

.masonry__item:nth-child(5n) {
    -ms-flex-preferred-size: 37.5%;
    flex-basis: 37.5%;
}

.masonry__item:nth-child(5n+1) .news-image__link {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
}

.masonry__item:nth-child(5n+2) .news-image__link {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41%;
            flex: 0 0 41%;
}

.masonry__item:nth-child(5n+3) .news-image__link {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
}

.masonry__item:nth-child(5n+4) .news-image__link {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 55%;
            flex: 0 0 55%;
}

.masonry__item:nth-child(5n) .news-image__link {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
}

.news__card .header-standart {
    padding-top: 0;
}

.news__card .image-holder {
    margin-top: 75px;
    margin-bottom: 150px;
    padding-bottom: 90%;
}

.news__card .news-date {
    display: block;
    width: 100%;
    margin-bottom: 30px;
}

.news__card .news-bold {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.template-news-page .clean.promo .js-parallax__first-layer {
    background: url("../images/parallax-beans13--1st-layer.png") no-repeat center center transparent;
    margin-left: -197px;
    height: 129%;
}

.template-news-page .clean.promo .js-parallax__second-layer {
    background: url("../images/parallax-beans9--1st-layer.png") no-repeat right bottom transparent;
    margin-left: -743px;
    height: 87%;
}

.news__card .beans-animate.js-parallax__first-layer {
    background: url("../images/parallax-beans14--1st-layer.png") no-repeat center center transparent;
    margin-left: -276px;
    height: 113%;
}

.news__card .beans-animate.js-parallax__second-layer {
    background: url("../images/parallax-beans14--2nd-layer.png") no-repeat center center transparent;
    margin-left: -96px;
    height: 153%;
}

.news-feed .beans-animate.js-parallax__first-layer {
    background: url("../images/parallax-beans16--1st-layer.png") no-repeat center center transparent;
    margin-left: -238px;
    height: 140%;
    margin-top: -457px;
}

.news-feed .beans-animate.js-parallax__second-layer {
    background: url("../images/parallax-beans16--2nd-layer.png") no-repeat center center transparent;
    margin-left: -79px;
    height: 148%;
    margin-top: -500px;
}