.vakansii.promo {
    background-image: url("../images/vakansii-bg1.png");
    min-height: 559px;
}

.vacancies__wrap {
    margin-top: 30px;
}
.circumstances .standart__li {
    margin-bottom: 20px;
}

.contact-form__btns {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
} 
.contact-form__btns .font-sans {
    color: #4c4c4c;
} 
.contact-form__btns .three_elems {
    margin: 0 35px 35px;
    flex: 0.1 0 30%;
}

.vacancies .beans-animate.js-parallax__first-layer {
    background: url("../images/parallax-beans18--1st-layer.png") no-repeat center center transparent;
    margin-left: -298px;
    height: 282%;
    margin-top: -343px;
}

.vacancies .beans-animate.js-parallax__second-layer {
    background: url("../images/parallax-beans18--2nd-layer.png") no-repeat center center transparent;
    margin-left: -165px;
    height: 232%;
    margin-top: -390px;
}