.aboutus-block {
    background-image: none;
    padding-top: 131px;
    flex-direction: column;
}

.template-aboutus .hero__text_block {
    padding-bottom: 130px;
}

.aboutus-block .header-standart {
    line-height: 1em;
}

.aboutus-block .font-sans {
    line-height: 1.1em;
}

.history__wrap {
    position: relative;
    z-index: 9;
    padding-bottom: 100px;
}

.history__block {
    background: url("history-static_bg.png") no-repeat center center / 1275px transparent;
    color: #4c4c4c;
    font-family: PT Sans;
    font-size: 18px;
    line-height: 1.1em;
}

.js-parallax__second-layer {
    background: url("history-beans_bg.png") no-repeat center center transparent;
}

.history__list {
    display: flex;
    flex-wrap: wrap;
}

.history__list_li {
    flex: 0 0 13.9%;
    height: 461px;
    position: relative;
    margin-bottom: 17px;
    background: url("white-bg-for-animate.jpg") no-repeat center center / cover transparent;
    -webkit-transition: background-position-x 9000ms ease;
    -o-transition: background-position-x 9000ms ease;
    transition: background-position-x 9000ms ease;
}

.history__list_li .history__year_text, .history__list_li .history__year {
    opacity: 0;
    -webkit-transition: opacity 1000ms linear;
    -o-transition: opacity 1000ms linear;
    transition: opacity 1000ms linear;
}

.history__list_li.pass {
    background: none;
}

.history__list .animate-pass-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background: url("white-bg-for-animate.jpg") no-repeat center center / cover transparent;
    -webkit-transition: background-position-y 5000ms linear;
    -o-transition: background-position-y 5000ms linear;
    transition: background-position-y 5000ms linear;
}

.history__list_li.anim-history {
    background-position-x: 1500px;
}

.history__list_li.anim-history .history__year_text, .history__list_li.anim-history .history__year {
    opacity: 1;
}

.history__list_li.left-anim.anim-history {
    background-position-x: -1500px;
}

.history__list_li.anim-history .animate-pass-line {
    background-position-y: 3500px;
}

.history__block .history__list_li .history__year {
    width: 130px;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
    color: #ffaa39;
    font-size: 35px;
    font-weight: bold;
    position: absolute;
    top: calc(50% - 78px);
    left: calc(50% - 64px);
}

.history__block .history__list_li .history__year:after {
    content: "";
    position: absolute;
    background: url("fact-icon_bg.png") no-repeat center center / contain transparent;
    opacity: .5;
    width: 100%;
    height: 100%;
}

.history__list_li .history__year:after {
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.history__list_li.anim-history .history__year:after {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.history__list_li.left-anim.anim-history .history__year:after {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
}

.history__year_text {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    text-align: center;
}

.history__list_li:nth-child(odd) .history__year_text {
    top: 349px;
}

.history__list_li:nth-child(even) .history__year_text {
    bottom: 345px;
}

.history__list_li:nth-child(12) {
    order: 1;
}

.history__list_li:nth-child(11) {
    order: 2;
}

.history__list_li:nth-child(10) {
    order: 3;
}

.history__list_li:nth-child(9) {
    order: 4;
}

.history__list_li:nth-child(8) {
    order: 5;
}

.promo.aboutus .beans-animate.js-parallax__first-layer {
    background: url("parallax-beans4--1st-layer.png") no-repeat left center transparent;
    margin-left: -213px;
    height: 119%;
}

.promo.aboutus .beans-animate.js-parallax__second-layer {
    background: url("parallax-beans4--2nd-layer.png") no-repeat left center transparent;
}

.history .beans-animate.js-parallax__first-layer {
    background: url("parallax-beans5--1st-layer.png") no-repeat left center transparent;
    margin-left: -313px;
    height: 100%;
}

.history .beans-animate.js-parallax__second-layer {
    background: url("parallax-beans5--2nd-layer.png") no-repeat left center transparent;
}

.production .beans-animate.js-parallax__first-layer {
    background: url("parallax-beans6--1st-layer.png") no-repeat left center transparent;
    margin-left: -205px;
}

.production .beans-animate.js-parallax__second-layer {
    background: url("parallax-beans6--2nd-layer.png") no-repeat left center transparent;
    margin-left: 73px;
    height: 113%;
}

.ourmission .beans-animate.js-parallax__first-layer {
    background: url("parallax-beans7--1st-layer.png") no-repeat left center transparent;
    margin-left: -205px;
    height: 75%;
}

.ourmission .beans-animate.js-parallax__second-layer {
    background: url("parallax-beans7--2nd-layer.png") no-repeat left top transparent;
    margin-left: 73px;
    height: 113%;
}

.production {
    background: url("production-section-bg.png") repeat-x center center transparent;
    min-height: 1027px;
    padding-top: 95px;
    z-index: 3;
}

.production__subtext_wrap {
    text-align: center;
}

.production__subtext {
    font-family: PT Sans;
    padding: 5px 0;
}

.production__slider_wrap {
    position: relative;
    z-index: 7;
}

.promo.aboutus {
    background: url("about-head__bg.png") repeat-x bottom center transparent;
}

.production__slider {
    overflow: hidden;
    padding-bottom: 55px;
}

.production__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-left: 0;
    margin-right: 0;
    max-height: 477px;
    width: 100%;
}

.production__slider .swiper-pagination, .production__slider .swiper-button-prev, .production__slider .swiper-button-next {
    top: 100%
}

.production__slider .swiper-pagination {
    left: 0;
    width: 185px;
}

.production__slider .swiper-button-prev, .production__slider .swiper-button-next {
    width: 50px;
    background-position-y: 30px;
    height: 100px;
}

.production__slider .swiper-button-next {
    left: 135px;
}

.production__li {
    height: 81px;
    line-height: 1.5em;
    font-size: 18px;
    color: #4c4c4c;
    font-family: PT Sans;
    display: flex;
    align-items: center;
}

.production__li .greeting_numbers {
    font-family: Amatic SC;
    display: inline-block;
    text-align: center;
    width: 100px;
    flex: 0 0 100px;
    line-height: 81px;
}

.production__li .greeting_numbers small {
    font-size: 28px;
    line-height: 81px;
    vertical-align: middle;
}

.elevator-lab {
    position: relative;
    z-index: 1;
}

.elevator.elevator-lab::after {
    background: url("wave2-white.svg") no-repeat top center / cover transparent;
}

.production+.elevator-lab {
    margin-top: -73px;
}

.elevator-lab:before, .elevator-lab:after {
    left: calc(50% - 960px);
    width: 1920px;
}

.elevator-lab .elevator_textblock {
    padding: 100px 0;
}

.elevator-lab .icons__list {
    color: white;
    margin-top: 55px;
}

.elevator-lab .icons__item figure {
    filter: hue-rotate(3.3deg) brightness(90.3%) saturate(70%);
}

.elevator-lab .icons__item:nth-child(1) figure {
    background-image: url("lab-icon_1.png");
}

.elevator-lab .icons__item:nth-child(2) figure {
    background-image: url("lab-icon_2.png");
}

.elevator-lab .icons__item:nth-child(3) figure {
    background-image: url("lab-icon_3.png");
}

.elevator-lab .icons__item:nth-child(4) figure {
    background-image: url("lab-icon_4.png");
}

.cert__list .cert {
    min-height: 170px;
}

.ourmission {
    padding-bottom: 110px;
}

.ourmission_collections {
    padding-top: 155px;
}

.ourmission .tabs-content .slider-pagination__wrap {
    top: 90px;
}

.animate1_1 {
    position: absolute;
    top: 20px;
    left: 55px;
    width: 350px;
    height: 390px;
    background: url("mission-pic3.png") no-repeat center center / contain transparent;
}

.ourmission .tab button {
    margin: 0 55px;
}

.ourmission .greeting_parallax {
    background-image: url("mission-pic1.png");
    background-position: center left;
}

.ourmission .ourmission_parallax {
    background: url("mission-pic4.png") no-repeat right top transparent;
    left: auto;
    right: 0;
    width: 50vw;
}

.ourmission .tabcontent {
    padding: 50px 50px 100px;
}

.ourmission .tabs-content {
    margin-top: -50px;
}

.ourmission .swiper-slide {
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
    height: 350px;
    padding-top: 50px;
}

.cert__item_wrap {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 10px 30px 0px #dbdcd8;
    padding: 20px;
}

.cert__item.image-container.is-rectangle:hover {
    padding-top: 155%;
}

.elevator-lab .slider-pagination__wrap .swiper-button-prev {
    background: url("arrow-white-left.png") no-repeat center center transparent;

}

.elevator-lab .slider-pagination__wrap .swiper-button-next {
    background: url("arrow-white-right.png") no-repeat center center transparent;

}