.aboutus-block {
    background-image: none;
    padding-top: 131px;
    flex-direction: column;
}

.hero__text_block {
    flex: 0 0 599px;
    top: -30px;
    padding-top: 30px;
}

.aboutus-block .font-sans {
    line-height: 1.1em;
}

.history__wrap {
    position: relative;
    z-index: 9;
    padding-bottom: 100px;
}

.history__block {
    background: url("history-static_bg.png") no-repeat center center / 100% transparent;
    min-height: 957px;
    color: #4c4c4c;
    font-family: PT Sans;
    font-size: 18px;
    line-height: 1.1em;
}

.beans_animate-vertical {
    background: url("history-beans_bg.png") no-repeat center center transparent;
}

.history__list {
    display: flex;
    flex-wrap: wrap;
}

.history__list_pass, .history__list_li {
    flex: 0 0 13.9%;
    height: 461px;
    position: relative;
    margin-bottom: 17px;
}

.history__year_text {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    text-align: center;
}

.history__list_li:nth-child(odd) .history__year_text {
    top: 349px;
}

.history__list_li:nth-child(even) .history__year_text {
    bottom: 345px;
}

.production {
    background: url("production-section-bg.png") repeat-x center center transparent;
    min-height: 1027px;
    padding-top: 95px; 
    z-index: 3; 
}

.production__slider_wrap {
    position: relative;
    z-index: 7;
}

.promo.aboutus {
    background: url("about-head__bg.png") repeat-x top center transparent;
}

.production__slider {
    overflow: hidden;
    min-height: 550px;
}

.production__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-left: 0;
    margin-right: 0;
    max-height: 477px;
    width: 100%;
}

.production__slider .swiper-pagination, .production__slider .swiper-button-prev, .production__slider .swiper-button-next {
    top: 100%
}

.production__slider .swiper-pagination {
    left: 0;
    width: 185px;
}

.production__slider .swiper-button-prev, .production__slider .swiper-button-next {
    width: 50px;
    background-position-y: 40px;
    height: 100px;
}

.production__slider .swiper-button-next {
    left: 135px;
}

.production__li {
    height: 81px;
    line-height: 81px;
    font-size: 18px;
    color: #4c4c4c;
    font-family: PT Sans;
    display: flex;
    align-items: center;
}

.production__li .greeting_numbers {
    font-family: Amatic SC;
    display: inline-block;
    text-align: center;
    width: 100px;
}


.elevator-lab {
    position: relative;
    z-index: 1;
}
.elevator.elevator-lab::after { 
    background: url("wave2-white.svg") no-repeat top center / cover transparent; 
}

.production+.elevator-lab {
    margin-top: -73px;
}

.elevator-lab:before, .elevator-lab:after {
    left: calc(50% - 960px);
    width: 1920px;
}

.elevator-lab .elevator_textblock {
    padding: 100px 0;
}

.elevator-lab .icons__list {
    color: white;
    margin-top: 55px;
}

.elevator-lab .icons__item figure {
    filter: hue-rotate(3.3deg) brightness(90.3%) saturate(70%);
}

.elevator-lab .icons__item:nth-child(1) figure {
    background-image: url("lab-icon_1.png");
}

.elevator-lab .icons__item:nth-child(2) figure {
    background-image: url("lab-icon_2.png");
}

.elevator-lab .icons__item:nth-child(3) figure {
    background-image: url("lab-icon_3.png");
}

.elevator-lab .icons__item:nth-child(4) figure {
    background-image: url("lab-icon_4.png");
}

.cert__list .cert {
    min-height: 170px;
}

.ourmission {
    padding-bottom: 110px;
}
.ourmission_collections {
    padding-top: 155px;
}
.ourmission .tabs-content .slider-pagination__wrap {
    top: 90px;
}

.animate1_1 {
    position: absolute;
    top: 20px;
    left: 55px;
    width: 350px;
    height: 390px;
    background: url("mission-pic3.png") no-repeat center center / contain transparent;
}

.ourmission .tab button {
    margin: 0 55px;
}

.ourmission .greeting_parallax {
    background-image: url("mission-pic1.png");
}

.ourmission .ourmission_parallax {
    background: url("mission-pic4.png") no-repeat right top transparent;
    left: auto;
    right: 0;
    width: 50vw;
}

.ourmission .tabcontent {
    padding: 50px 50px 100px;
}

.ourmission .tabs-content {
    margin-top: -50px;
}

.ourmission .swiper-slide {
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
    height: 350px;
}

.cert__item {
    border-radius: 20px;
    box-shadow: 0px 10px 30px 0px #dbdcd8;
    padding: 20px;
}

.cert__item img {
    height: 310px;
}

.cert__item:hover {
    height: 350px;
}