::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #75c94e;
}

::-webkit-scrollbar-thumb {
    background: rgb(88, 18, 18);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(49, 23, 165);
}

::-webkit-scrollbar {
    background: turquoise;
}

::-webkit-scrollbar-button {
    background: turquoise;
}

::-webkit-scrollbar-track-piece {
    background: #75c94e;
}

::-webkit-scrollbar-corner {
    background: turquoise;
}

::-webkit-resizer {
    background: turquoise;
}

.checkout-item__list { 
    scrollbar-color: #f3a344 #e5e5e5;
    scrollbar-width: thin;
}

.checkout-item__list::-webkit-scrollbar,
.dynamic_basket-list::-webkit-scrollbar {
    width: 6px;
    height: 0px;
}

.checkout-item__list::-webkit-scrollbar-button,
.dynamic_basket-list::-webkit-scrollbar-button {
    background-color: #f3a344;
    height: 0px;
}

.checkout-item__list::-webkit-scrollbar-track,
.dynamic_basket-list::-webkit-scrollbar-track {
    background-color: #e5e5e5;
}

.checkout-item__list::-webkit-scrollbar-track-piece,
.dynamic_basket-list::-webkit-scrollbar-track-piece {
    background-color: #e5e5e5;
}

.checkout-item__list::-webkit-scrollbar-thumb,
.dynamic_basket-list::-webkit-scrollbar-thumb {
    height: 30px;
    background-color: #f3a344;
}

.checkout-item__list::-webkit-scrollbar-corner,
.dynamic_basket-list::-webkit-scrollbar-corner {
    background-color: transparent;
}

.checkout-item__list::-webkit-resizer,
.dynamic_basket-list::-webkit-resizer {
    background-color: transparent;
}

.cart__item, .cart__item_heading {
    display: flex;
}

.cart__item_heading {
    background-color: #f4a344;
    border-radius: 5px;
    height: 55px;
}

.cart__item_heading>div {
    font-size: 40px;
    font-weight: normal;
    color: white;
}

li.cart__item_heading {
    padding: 0 20px;
}

li.cart__item {
    position: relative;
    padding: 10px 20px;
    border-bottom: 1px solid #e1e1e1;
}

.cart__item {
    font-family: PT Sans;
}

.item__img {
    margin: 10px 0;
    max-height: 107px;
}

.item__link {
    font-size: 18px;
    font-weight: bold;
    color: #4c4c4c;
}
.item__price_text {
    color: #999999;
}
.item__price_total, .item__price {
    font-size: 20px;
    font-weight: bold;
    color: #4e1904;
}

.item__bttn-delete {
    position: relative;
    background: transparent;
    border: 0;
    border-radius: 0;
    cursor: pointer;
}

.item__bttn-delete svg {
    display: block;
    height: 35px;
    overflow: visible;
    position: relative;
    width: 35px;
}

.total-order-header {
    margin: 35px 0;
    font-size: 50px;
    color: #4e1904;
}

.template-cart .siteFooter {
    min-height: 150px;
}

.checkout-btns .button1 {
    margin-right: 15px;
}

.checkout-form .checkout-btns {
    text-align: left;
}

.form__radio_group {
    margin: 25px 0;
}

.checkout-item__block {
    width: 440px;
    height: 510px;
    background: url("checkout-item__list.png") no-repeat center top transparent;
    padding-right: 30px;
    padding-left: 40px;
}

.checkout-item__info {
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 1.7em;
}

.checkout-item {
    flex-grow: 0;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #d8d8d8;
}

.checkout-item__block button.button2 {
    margin: 25px auto 0;
}

.checkout-item__block .total-order-header {
    margin-top: 25px;
    padding-top: 35px;
}

.checkout-item__block .total-order-summ {
    font-size: 40px;
}

.checkout-item__list {
    height: 163px;
    overflow: auto;
    flex-wrap: nowrap;
    margin-bottom: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.item__price_block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.item__price_block { 
    justify-content: center;
}

.clean_template {
    padding-top: 290px;
}   
.template-cart .hero__text .lefted.dedicated::after {
    display: none;
}