.news-feed .beans-animate {
    background: url("news-beans1.png") no-repeat center center transparent;
}

.news.promo {
    background: url("news-bg1.png") no-repeat center top transparent;
    min-height: 575px;
}

.news-feed__wrap {
    display: flex;
}

.masonry__item {
    flex: 1 1 100%;
    min-height: 250px;
    padding: 9px;
}

.masonry__item_inner {
    width: 100%;
    height: 100%;
    box-shadow: 0px 5px 15px 0px #dbdcd8;
    border-radius: 20px;
    display: flex;
    background: white;
}

.masonry__item:hover .news-title__link {
    color: #f4a344;
    text-decoration: underline;
}

.news-title__link {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    max-height: 115px;
    /* max-width: 100%;
    white-space: nowrap;  */
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-image__link {
    border-radius: 5px;
    height: 100%;
    padding: 10px;
}

.news-image {
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background: url("no-image.png") no-repeat center center / cover transparent;
}

.news-right {
    justify-content: center;
    text-align: start;
    padding: 10px 10px 10px 0;
}

.masonry__item:nth-child(5n+1) {
    -webkit-flex-basis: 56.25%;
    -ms-flex-preferred-size: 56.25%;
    flex-basis: 56.25%;
}

.masonry__item:nth-child(5n+2) {
    -webkit-flex-basis: 43.75%;
    -ms-flex-preferred-size: 43.75%;
    flex-basis: 43.75%;
}

.masonry__item:nth-child(5n+3) {
    -webkit-flex-basis: 37.5%;
    -ms-flex-preferred-size: 37.5%;
    flex-basis: 37.5%;
}

.masonry__item:nth-child(5n+4) {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
}

.masonry__item:nth-child(5n) {
    -webkit-flex-basis: 37.5%;
    -ms-flex-preferred-size: 37.5%;
    flex-basis: 37.5%;
}

.masonry__item:nth-child(5n+1) .news-image__link {
    flex: 0 0 45%;
}

.masonry__item:nth-child(5n+2) .news-image__link {
    flex: 0 0 41%;
}

.masonry__item:nth-child(5n+3) .news-image__link {
    flex: 0 0 50%;
}

.masonry__item:nth-child(5n+4) .news-image__link {
    flex: 0 0 55%;
}

.masonry__item:nth-child(5n) .news-image__link {
    flex: 0 0 50%;
}

.news__card .header-standart {
    padding-top: 0;
}

.news__card .image-holder {
    margin-top: 75px;
    margin-bottom: 150px; 
    padding-bottom: 90%;
}

.news__card .news-date {
    display: block;
    width: 100%;
    margin-bottom: 30px;
}

.news__card .news-bold {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.template-news-page .clean.promo .js-parallax__first-layer {
    background: url("parallax-beans13--1st-layer.png") no-repeat left center transparent;
    margin-left: -197px;
    height: 129%;
}

.template-news-page .clean.promo .js-parallax__second-layer {
    background: url("parallax-beans9--1st-layer.png") no-repeat right bottom transparent;
    margin-left: -639px;
    height: 94%;
}

.news__card .beans-animate.js-parallax__first-layer {
    background: url("parallax-beans14--1st-layer.png") no-repeat center center transparent;
    margin-left: -276px;
    height: 113%;
}

.news__card .beans-animate.js-parallax__second-layer {
    background: url("parallax-beans14--2nd-layer.png") no-repeat center center transparent;
    margin-left: -96px;
    height: 153%;
}