@media screen and (min-width: 1675px) {
    .banner-bread {
        background-size: cover;
    }
    .geo-map {
        background: url("geo-map__bottombg.png") no-repeat bottom center / 100% transparent;
    }
    .template-is-index .elevator::before {
        background: url("bg__video--top.png") no-repeat bottom center / 100% transparent;
    }
}

@media screen and (max-width: 1675px) {
    .template-aboutus .elevator::before {
        background: none;
    }
}

@media screen and (max-width: 1600px) {
    .header-standart:after, .lefted.dedicated:after {
        bottom: -25px;
    }
    .action-block, .banner2 {
        padding: 0 10px;
    }
    .ourmission_parallax, .greeting_parallax, .promo-angle {
        background-image: none;
    }
    .template-is-index .siteFooter {
        clip-path: none;
    }
    .ourmission .greeting_parallax {
        background: none;
    }
}

@media screen and (max-width: 1411px) {
    .history__list_li.pass {
        display: none;
    }
    .history__block {
        background: none;
    }
    .history__block .history__year_text {
        position: static;
    }
    .history__block .history__list_li {
        flex: 1 0 300px;
        height: auto;
        padding: 15px;
    }
    .history__block .history__list_li {
        text-align: center;
    }
    .history__block .history__list_li .history__year {
        width: 150px;
        height: 150px;
        position: relative;
        top: auto;
        left: auto;
    }
    .history__block .history__list_li {
        order: initial;
    }
    .history__list_li {
        margin-bottom: 0;
    }
    .template-is-index .siteFooter {
        margin-top: -50px;
    }
    .template-is-index .siteFooter_parallax {
        background-attachment: unset;
    }
    .siteFooter_parallax {
        background: url("contact_bg_3.png") right bottom no-repeat, url("contact_bg_4.png") left bottom no-repeat, #fbfbfb;
    }
}

@media screen and (max-width: 1200px) {
    .waygraphic__wrap {
        background: none;
    }
    .waygraphic__point_5 .waypoint {
        width: 95px;
        height: 195px;
        background-image: url("waygraphic_point.png");
        font-size: 70px;
    }
    .waygraphic__point {
        width: 100%;
        height: auto;
        padding-bottom: 35px;
        min-height: 225px;
        position: relative;
        text-align: left;
        top: 0;
        left: 0;
        right: auto;
        bottom: auto;
        display: flex;
        align-items: flex-end;
    }
    .waygraphic__point .waypoint {
        top: auto;
        left: 0;
        right: auto;
        bottom: 0;
    }
    .waygraphic__point .point_wrap {
        position: unset;
        text-align: left;
        padding-left: 105px;
        height: auto;
    }
    #bg_video {
        height: 100%;
        width: auto;
    }
    .product .product-block {
        padding: 0 15px;
    }
    .container_narrow {
        max-width: 1125px;
    }
    .siteFooter {
        margin-top: 0;
        padding-top: 35px;
        -webkit-clip-path: none;
        clip-path: none;
        z-index: 3;
    }
    .siteFooter_parallax {
        background-attachment: unset;
    }
    .animate0_1 {
        background-size: contain;
    }
    .geo-map__left .geo-map__imgholder {
        background-position: -3px 59px;
    }
    .siteFooter_parallax {
        opacity: 0.3;
    }
    .container, .container_narrow {
        padding-right: 20px;
        padding-left: 20px;
    }
    .product-img__relative {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
    }
    .menu__list {
        min-width: 455px;
    }
    .info0_1_text, .info0_2_text {
        right: 20px;
        top: 28px;
        width: 155px;
    }
    .info0_2_text {
        right: 30px;
        top: 8px;
    }
    .info0, .info0_1, .info0_2, .info0_3, .info0_4 {
        top: 0;
    }
    .info0, .info0_1, .info0_2 {
        margin-top: 15px;
    }
    .guideLink {
        right: 15px;
    }
    .siteHeader__left-side {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .siteHeader__mainnav ul {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .siteHeader__icon {
        margin: 0 9px;
    }
    .currency, .location {
        padding: 1px 30px;
    }
    .greeting::before {
        left: -20vw;
        background-size: contain;
    }
    .greeting::after {
        width: 43vw;
        background-size: contain;
    }
    .product__list {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .tabcontent .slider__list {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    #rel_products .slider__list {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    #rel_products .row.is-grid {
        margin-left: 0;
        margin-right: 0;
    }
    .greeting .decor-divider {
        margin-top: 50px;
    }
    .summary__wrap {
        height: auto;
    }
    .summary__wrap>div {
        min-height: 146px;
    }
    .summary__wrap>div:nth-child(1), .summary__wrap>div:nth-child(2) {
        border-bottom: 3px solid #222939;
    }
    .summary__wrap>div:nth-child(2n) {
        border-right: 0px solid;
    }
    .js-to-top {
        position: relative;
        right: -90vw;
        bottom: -10px;
    }
    .collection-filter-and-sort {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        padding-bottom: 15px;
    }
    .hero__beans_animate {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    #productionSlider .swiper-slide img {
        -o-object-fit: contain;
        object-fit: contain;
    }
    .info0_1_text {
        right: 0px;
    }
    .info0_2_text {
        right: 9px;
    }
    .hero__text {
        font-size: 65px;
    }
    .greeting__wrap_img-center {
        background-size: 35%;
    }
    .prodcarousel {
        background-size: cover;
    }
    .main-slider .swiper-slide {
        font-size: 19px;
    }
    .geo-map__left .geo-map__imgholder {
        height: 100%;
        background-image: url("geo-map-md.png");
        background-position: center;
        background-size: contain;
    }
    .geo-map__left {
        min-height: 390px;
    }
    .tara_list {
        width: 100%;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .tara_list li {
        min-height: 145px;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 150px;
        flex: 1 1 150px;
    }
    .tara_text {
        font-size: 50px;
        text-align: center;
        width: 100%;
    }
    .tara_select {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .greeting::before {
        display: none;
    }
    .greeting::after {
        display: none;
    }
    .wide-half_left, .wide-half_right {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
    .half__title2 {
        margin-top: 0;
        margin-bottom: 50px;
    }
    .banner, .banner2 {
        margin-bottom: 75px;
    }
    .icon__item {
        padding: 0 30px 30px;
    }
    .instagram {
        background-image: none;
    }
    .instagram__wrap {
        padding: 0;
    }
    .instagram__left {
        background-image: url('pic3.jpg');
        background-position: -170px 100%;
        background-repeat: no-repeat;
        background-size: 700px;
    }
    .instagram__text p.uppercase {
        padding-top: 0px;
    }
    .instagram__text p {
        padding-top: 0px;
    }
    .banner2__wrap {
        height: auto;
    }
    .addLinks .addLinks__column:last-child {
        margin-top: 35px;
    }
    .prodcarousel_collections {
        padding: 0;
    }
    .prodcarousel_collections .tab {
        overflow: auto;
    }
    .half__title2 {
        font-size: 21px;
    }
    .divarication__title {
        height: auto;
        margin-bottom: 9px;
    }
    .product__grid_footer .half_right {
        padding-left: 0px;
    }
    .collection-size-and-pagination {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .collection-size-and-pagination .pagination {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .collection-size .page_size-radio {
        margin: 0 9px 0 9px;
    }
    .catalog__text {
        padding: 45px 0;
    }
    .catalog__text_capton {
        padding: 0 0 30px;
    }
    .catalog__header {
        padding: 9px 0 20px;
        font-size: 21px;
    }
    .country {
        display: none;
    }
    .production__subtext {
        font-size: 22px;
    }
}

@media screen and (max-width: 920px) {
    .contact-form .header-standart {
        margin-bottom: 25px;
        padding-bottom: 35px;
    }
    .ourmission .ourmission_parallax {
        background: none;
    }
    .garderob-slider .swiper-button-prev {
        left: calc(-50% + 90px);
    }
    .garderob-slider .swiper-button-next {
        right: calc(-50% + 90px);
    }
    .garderob-slider .prev-shadow {
        display: none;
    }
    .garderob-slider .next-shadow {
        display: none;
    }
    .banner__wrap {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0 10%;
    }
    .tabs-content {
        padding: 0;
    }
    .half_left, .half_right {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        height: 50%;
    }
    .icon__list figure.icon {
        width: auto;
    }
    .item__var_wrap {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }
    .item__var_value {
        -ms-flex-item-align: end;
        align-self: flex-end;
    }
    .item__artic {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .item__act button {
        background-position: center right;
    }
    .catalog__header {
        padding: 3px 0 15px;
    }
}

@media screen and (max-width: 768px) {
    
    .template-vakansii .three_elems:first-child{
        margin-bottom: 0;
    }
    .news.promo {
        background: url("news-bg1-sm.png") no-repeat bottom center / cover transparent;
        min-height: 459px;
        margin-bottom: 20px;
    }
    .masonry .masonry__item {
        flex: 1 1 100%;
        margin-bottom: 10px;
    }
    .masonry .masonry__item .news-image__link {
        flex: 0 0 220px;
    }
    .masonry__item_inner {
        padding: 20px;
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .news-image__link {
        padding: 0px 0px 20px;
    }
    .news-right {
        padding: 0;
    }
    .header-wrapper {
        padding-bottom: 0;
    }
    .siteHeader__logo {
        background: url("logo-site.png") no-repeat center center / contain transparent;
    }
    .greeting__slider {
        width: 100%;
        overflow: hidden;
        padding-bottom: 55px;
    }
    .slider-pagination__wrap .swiper-button-next, .slider-pagination__wrap .swiper-button-prev, .slider-pagination__wrap .swiper-pagination-fraction {
        bottom: auto;
        top: 0px;
        height: 55px;
    }
    .slider-pagination__wrap .swiper-button-next, .slider-pagination__wrap .swiper-button-prev {
        top: 25px;
        background-position-y: center;
    }
    .info0_1_text {
        right: 25px;
    }
    .info0_2_text {
        right: 38px;
    }
    .siteFooter {
        min-height: 875px;
    }
    .hero__text_block {
        padding: 0;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    /* .hero__text .dedicated::after, .promo-block::after, .promo-angle, .corner2 {
        background: none;
    } */
    .corner2 {
        display: none;
    }
    .promo-block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-top: 130px;
        background-position: center 95%;
    }
    .animate0_2 {
        width: 210px;
    }
    .fact-icons__corner4, .fact-icons__bgline {
        background: none;
    }
    .main-wrapper {
        /* margin-top: 55px; */
        padding: 0;
        overflow: hidden;
    }
    .siteHeader__icon {
        margin: 0 3px;
    }
    .promo__img_wrapper {
        height: 500px;
    }
    .swiper-button-next {
        right: -35px;
    }
    .swiper-button-prev {
        left: -35px;
    }
    .swiper-button-next:after {
        left: auto;
        right: 0;
        text-align: left;
    }
    .swiper-button-prev:after {
        left: 0;
        right: auto;
        text-align: right;
    }
    .template-is-cart .prodcarousel_collections .swiper-button-prev:after, .template-is-cart .prodcarousel_collections .swiper-button-next:after {
        top: 38%;
    }
    .promo__img_wrapper {
        margin: 0 25px;
    }
    .prodcarousel_collections {
        padding: 0 10px;
    }
    .siteHeader__logo {
        text-align: left;
    }
    .button1, .button2 {
        width: auto;
    }
    .addLinks .addLinks__column:nth-child(3) {
        margin-top: 35px;
    }
    .promo_text {
        width: 75%;
    }
    .text1 {
        top: 50%;
        right: 4%;
        width: 45%;
    }
    .text2 {
        top: 67%;
        right: 4%;
        width: 45%;
    }
    .header-standart {
        font-size: 47px;
    }
    .siteHeader__icon_btn.cart-icon .counter {
        right: -27px;
        top: -31px;
    }
    .siteHeader__icon_btn.cart-icon {
        padding: 15px;
    }
    .hero__text {
        font-size: 48px;
    }
    .template-is-index .hero__text {
        text-align: center;
    }
    .hero__text_block {
        -ms-flex-align: flex-start;
        align-items: flex-start;
    }
    .hero__text.subtext {
        font-size: 40px;
    }
    .promo__img_wrapper {
        height: 500px;
    }
    .greeting {
        min-height: unset;
    }
    .header-standart {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .hero__text .header-standart {
        padding-top: 15px;
        padding-bottom: 38px;
    }
    .divarication__wrapper {
        bottom: -75px;
    }
    .divarication__title {
        font-size: 21px;
        padding: 5px;
    }
    .divarication__block_wrap {
        padding: 30px 30px 40px;
    }
    .divarication {
        min-height: auto;
    }
    .banner__wrap {
        left: 0;
    }
    .garderob-slider .swiper-button-prev {
        left: -70px;
    }
    .garderob-slider .swiper-button-next {
        right: -70px;
    }
    .tab button {
        margin: 0 15px;
    }
    .half_right .half__img_framing {
        padding: 50px;
    }
    .half_left .half__shadow {
        padding: 50px 15px;
    }
    .instagram__text {
        width: 51%;
    }
    .main-slider .swiper-button-next, .main-slider .swiper-button-prev {
        width: 10%;
    }
    .garderob__image_full {
        height: 350px;
    }
    .item__var_value {
        min-width: 60px;
    }
    .cart__total b {
        font-size: 38px;
        line-height: 45px;
    }
    .item__price_block {
        text-align: center;
    }
    .summary__wrap>div {
        border-right: 0px solid #222939;
        border-bottom: 3px solid #222939;
    }
    .summary__wrap>div:last-child {
        border-bottom: 0px solid #222939;
    }
    .product__grid_half-right {
        padding-left: 0px;
    }
    .product__grid_half-left {
        padding-right: 0;
    }
    .product__artic {
        right: 0;
        bottom: 25px;
    }
    .bundle__artic {
        right: 0;
        top: 33px;
    }
    .bundle__list {
        padding-right: 0;
    }
    .guideLink {
        position: relative;
        top: 0;
        right: 0;
        padding: 5px 0;
        width: 100%;
        display: inline-block;
        text-align: right;
    }
    .bundle__price_wrap {
        width: 100%;
        text-align: center;
    }
    .bundle__price_wrap .button1 {
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    .product__grid_footer .half_right {
        min-height: auto;
        height: auto;
    }
    figure.needle {
        margin: 0 0 35px;
    }
    .product__grid {
        margin-bottom: 55px;
    }
    .product__info_2 {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .product__related_header {
        margin: 0px 0 25px;
    }
    .instagram__input {
        margin-top: 15px;
    }
    .instagram .button1 {
        margin-bottom: 15px;
    }
    #gallery__slider, #rel_products {
        left: 0;
        width: 100%;
    }
    .collection-filter-and-sort .collection-filter {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .greeting__wrap_img-center {
        background: none;
    }
    .greeting__wrap_img-center>.cell-16-sm {
        text-align: center;
    }
    .container_narrow .push-0-sm {
        margin-left: 0%;
    }
    .container_narrow .cell-third-sm {
        max-width: 33.33%;
        -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
    }
    .hero__text .highlighted::after {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .container_narrow {
        padding-right: 10px;
        padding-left: 10px;
    }
    .prodcarousel_collections.container_narrow {
        padding: 0;
    }
    h2 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .siteHeader__logo {
        text-align: center;
    }
    .main-slider .swiper-slide {
        font-size: 15px;
    }
    .greeting__text {
        width: auto;
    }
    #tabSlider .swiper-wrapper {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .instagram__left {
        background-image: none;
    }
    .action-block__wrap>.row {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0 25px;
    }
    figure.pants, figure.needle {
        margin-bottom: 35px;
    }
    .banner2 .half__img_full {
        height: auto;
        min-height: 210px;
    }
    .promo__img_wrapper {
        height: 400px;
    }
    .instagram__header {
        line-height: 29px;
        text-align: center;
    }
    .instagram__wrap .row>div:first-child {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 60px 10px 30px;
    }
    .instagram__text {
        width: 81%;
        text-align: center;
    }
    .siteFooter_container {
        padding: 15px;
    }
    .js-to-top {
        right: -75vw;
        bottom: -15px;
    }
    .topline {
        padding-top: 0;
    }
    .template-is-collection .topline {
        padding-top: 10px;
    }
    .summary__wrap {
        height: auto;
    }
    .summary__wrap>div {
        border-right: 0px solid;
        border-bottom: 3px solid #222939;
        padding: 50px 0;
    }
    .half_right .half__img_framing {
        padding: 27px;
    }
    .catalog__header {
        padding: 9px 0 20px;
        font-size: 19px;
    }
    .siteFooter_parallax {
        display: none;
    }
    .fact-icons .fact-icons__bgline {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .contact-form__btns {
        padding-bottom: 210px;
    }
    .circumstances {
        margin-bottom: -80px;
    }
    .vacancies__wrap {
        margin-top: -30px;
    }
    .vakansii-block .hero__text_block {
        padding-bottom: 205px;
    }
    .vakansii-block {
        background: url("vakansii-pic1.png") no-repeat bottom center / 300px transparent;
    }
    .meshok-po-centru .container_narrow {
        padding: 0;
    }
    .meshok-po-centru .text-title {
        font-size: 50px;
    }
    .meshok-po-centru .font-sans {
        font-size: 18px;
    }
    .margin-b-80__block {
        margin-bottom: 40px;
    }
    .meshok-po-centru__image {
        background: url("meshok-po-centru.png") no-repeat center center / contain transparent;
    }
    .zakupka+.waygraphic {
        padding-top: 0;
    }
    .zakupka-block {
        background: url("zakupka_animate0.png") no-repeat center 80% / 270px transparent;
    }
    .zakupka.promo .hero__text_block {
        padding-bottom: 285px;
    }
    .clean.promo.zakupka {
        margin-bottom: 20px;
        background-position-x: -705px;
    }
    .standart__lists_wrap {
        border-left: 0px solid;
        padding-left: 0px;
    }
    .samovivoz .header-standart {
        padding: 0;
    }
    .clean.promo.zakupka .header-standart {
        padding-top: 10px;
    }
    .container_megatabs {
        margin-top: 0;
    }
    .container_megatabs .swiper-button-next, .container_megatabs .swiper-button-prev {
        bottom: -200px;
        width: 50%;
        background: url("arrow.png") no-repeat center center transparent;
    }
    .container_megatabs .swiper-button-next {
        right: 20px;
    }
    .container_megatabs .swiper-button-prev {
        background: url("arrow-rev.png") no-repeat center center transparent;
        left: 20px;
    }
    .container_megatabs .slider-buttons__wrap {
        top: 100%;
    }
    .container_megatabs .prod-content__wrap {
        padding-right: 0;
        padding-left: 0;
    }
    .template-production .tabs-content .product.swiper-slide {
        padding-top: 0px;
    }
    .template-production .tablinks {
        font-size: 43px;
        margin-bottom: 20px;
    }
    .megatabcontent .tab {
        flex-wrap: wrap;
        padding-bottom: 75px;
    }
    .template-production .tab.megatabs {
        overflow: visible;
    }
    .template-production .tab button.megatablinks {
        font-size: 40px;
        width: 150px;
        padding: 15px 25px;
        white-space: initial;
    }
    .prod-content .header-standart {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .contact-form .header-standart {
        margin-bottom: 25px;
        padding-bottom: 35px;
    }
    .production-block {
        background: url("pic2.png") no-repeat center 90% / 170px transparent;
    }
    .promo.production {
        min-height: 600px;
    }
    .promo.production .hero__text_block {
        padding-bottom: 300px;
    }
    .promo .template_1 {
        padding-top: 120px;
    }
    .product-wrapper .button2 {
        margin: 17px auto 0;
        padding: 0 18px;
        width: auto;
        font-size: 17px;
    }
    .prod-title {
        margin-bottom: 10px;
        line-height: 1.1em;
    }
    .prod-type {
        font-size: 17px;
        line-height: 1.3em;
    }
    .hero__text {
        font-size: 48px;
        width: 100%;
        text-align: left;
    }
    .aboutus-block .font-sans {
        line-height: 1.3em;
    }
    .hero__text.subtext {
        font-size: 40px;
    }
    .promo {
        min-height: 723px;
    }
    .hero__text.subtext {
        margin-bottom: 25px;
    }
    .button2 {
        width: auto;
        margin: 0 auto;
        padding: 0 50px;
    }
    header {
        margin-top: -10px;
    }
    .prodcarousel {
        background: url("carousel-section-bg.png") repeat-x -400px center / cover transparent;
    }
    .prodcarousel {
        padding-top: 55px;
        padding-bottom: 125px;
    }
    .prodcarousel+.fact-icons {
        margin-top: -100px;
    }
    .prodcarousel_collections .product.swiper-slide {
        padding-bottom: 80px;
    }
    .prodcarousel_collections .tabs-content .swiper-button-next, .prodcarousel_collections .tabs-content .swiper-button-prev {
        bottom: 20px;
    }
    .prodcarousel .tab {
        margin-bottom: -140px;
    }
    .product .product-block {
        padding: 0 10px;
    }
    .product-block .product-wrapper {
        -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
        border-width: 0px;
    }
    .animate0_2 {
        left: 32%;
        width: 60%;
        top: 70px;
    }
    .geo-map__left {
        min-height: 235px;
    }
    .geo-map__left .geo-map__imgholder {
        background-image: url("geo-map-xs.png");
    }
    .animate0_1 {
        background-size: contain;
        height: 210px;
    }
    body {
        font-size: 17px;
    }
    .promo-block {
        padding-top: 107px;
        background-size: 77%;
        background-position-y: 83%;
    }
    .promo {
        background-position-x: -350px;
    }
    .hero__text {
        font-size: 46px;
    }
    .hero__text.subtext {
        font-size: 34px;
        margin-top: 16px;
        margin-bottom: 25px;
    }
    .greeting {
        margin-bottom: 0px;
        padding-bottom: 50px;
    }
    .greeting .container_narrow .lefted {
        padding-right: unset;
    }
    .greeting__slider .swiper-slide {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .prodcarousel .hero__beans_animate {
        display: none;
    }
    .prodcarousel_collections .tablinks {
        font-size: 45px;
    }
    .tabs-content .swiper-pagination-fraction {
        bottom: 37px;
    }
    .tabs-content .swiper-button-next, .tabs-content .swiper-button-prev {
        bottom: -25px;
    }
    .tara_list li:nth-child(1) {
        height: 85px;
        -ms-flex-preferred-size: 85px;
        flex-basis: 85px;
        line-height: 134px;
    }
    .tara_list li:nth-child(2) {
        height: 105px;
        -ms-flex-preferred-size: 105px;
        flex-basis: 105px;
        line-height: 169px;
    }
    .tara_list li:nth-child(3) {
        height: 125px;
        -ms-flex-preferred-size: 125px;
        flex-basis: 125px;
        line-height: 169px;
    }
    .tara_list li:nth-child(4) {
        height: 130px;
        -ms-flex-preferred-size: 130px;
        flex-basis: 130px;
        line-height: 169px;
    }
    .tara_list li:nth-child(5) {
        height: 140px;
        -ms-flex-preferred-size: 140px;
        flex-basis: 140px;
        line-height: 169px;
    }
    .tara_list li:nth-child(6) {
        height: 150px;
        -ms-flex-preferred-size: 150px;
        flex-basis: 150px;
        line-height: 169px;
    }
    .tara_list li:nth-child(7) {
        height: 160px;
        -ms-flex-preferred-size: 160px;
        flex-basis: 160px;
    }
    .tara_list li {
        min-height: auto;
    }
    .tara_list li input::after {
        height: 100%;
    }
    .prodcarousel_collections.container_narrow {
        padding-bottom: 50px;
    }
    .fact-icons .header-standart::after {
        bottom: -30px;
    }
    .fact-icons__slider {
        padding: 50px 0;
        position: relative;
        overflow: hidden;
        width: 100%;
    }
    .fact-icons .icons__item:nth-child(1), .fact-icons .icons__item:nth-child(3) {
        margin-top: 0;
    }
    .fact-icons__slider .slider-pagination__wrap {
        position: absolute;
        top: 73px;
        left: auto;
        height: 100px;
        width: 100%;
    }
    .fact-icons__slider .swiper-button-next, .fact-icons__slider .swiper-button-prev {
        width: 70px;
    }
    .fact-icons__item:nth-child(1), .fact-icons__item:nth-child(3) {
        margin-top: 0;
    }
    #labSlider .icons__item .icon__signature {
        color: white;
    }
    .elevator-lab .elevator_textblock {
        padding: 50px 0;
    }
    .banner-bread__left {
        margin-top: -30px;
        padding-top: 0;
        font-size: 45px;
        text-align: center;
        line-height: 1.1em;
    }
    .banner-bread>.container_narrow {
        min-height: 470px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .banner-bread {
        background-image: url("banner-bread-sm.png");
        background-size: cover;
    }
    .geo-map__right {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }
    .geo-map__list>li {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .geo-map__list .greeting_numbers {
        margin-right: unset;
    }
    .geo-map .header-standart.lefted {
        text-align: center;
    }
    .geo-map .header-standart.lefted::after {
        bottom: -20px;
        width: 100%;
        left: 0;
    }
    .geo-map .font-sans {
        text-align: center;
        max-width: none;
        padding-bottom: 20px;
    }
    .animate1_2 {
        display: none;
    }
    .geo-map .text-title {
        text-align: center;
        font-size: 48px;
    }
    .info0, .info0_1, .info0_2, .info0_3, .info0_4 {
        top: 0;
    }
    .info0_2, .info0_1-xs {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .info0_1_text, .info0_2_text {
        position: relative;
        height: 156px;
        width: 170px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        top: unset;
        right: unset;
        background: url("info0-circle.png") no-repeat center center transparent;
    }
    .info0_2 {
        background: none;
    }
    .elevator>.container_narrow {
        min-height: 499px;
    }
    .siteFooter {
        background-image: url("footer_bg-sm.png");
        background-size: cover;
    }
    .siteFooter__contacts {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }
    .siteFooter__phone {
        margin-left: unset;
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
        text-align: center;
        width: 100%;
    }
    .siteFooter__icon_link {
        margin: 5px 15px 15px;
    }
    .siteFooter__copy {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .siteFooter .pin-bottom {
        padding-bottom: 45px;
    }
    .history__wrap {
        padding-bottom: 50px;
    }
    #productionSlider .slider-pagination__wrap .swiper-pagination-fraction {
        width: 100%;
    }
    #productionSlider .slider-pagination__wrap .swiper-button-next {
        right: 0;
        left: auto;
        width: 37%;
    }
    #productionSlider .slider-pagination__wrap .swiper-button-prev {
        right: auto;
        left: 0;
        width: 37%;
    }
    .production__slider_wrap {
        padding-bottom: 150px;
    }
    .production {
        background: url("production-section-bg.png") repeat-x -450px center /cover transparent;
    }
    .production+.elevator-lab {
        margin-top: -113px;
    }
    .animate1_1 {
        background: url("mission-pic3-xs.png") no-repeat center center / contain transparent;
        position: relative;
        top: auto;
        left: auto;
        width: 100vw;
        height: 100%;
        min-height: 283px;
    }
    .ourmission {
        padding-bottom: 10px;
    }
    .ourmission_collections {
        padding-top: 10px;
    }
    .container_narrow.ourmission_collections {
        padding-right: 0;
        padding-left: 0;
    }
    .ourmission .tabcontent {
        padding: 155px 5px 110px;
    }
    .ourmission .tab button {
        margin: 0 15px;
        font-size: 34px;
    }
    .ourmission .tabs-content .slider-pagination__wrap {
        top: 35px;
    }
}

@media screen and (max-width: 380px) {
    .tara_list {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .tara_list li {
        min-height: 145px;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    }
    .tara_text {
        font-size: 50px;
        text-align: center;
        width: 100%;
    }
    .tara_select {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .prodcarousel .tab {
        margin-bottom: -140px;
    }
    .product .product-block {
        padding: 0 10px;
    }
    .animate0_2 {
        left: 32%;
        width: 60%;
        top: 70px;
    }
    .animate0_1 {
        background-size: contain;
        height: 210px;
    }
    body {
        font-size: 17px;
    }
    .promo-block {
        padding-top: 107px;
        background-size: 85%;
    }
    .promo {
        background-position-x: -350px;
    }
    .hero__text {
        font-size: 46px;
    }
    .hero__text.subtext {
        font-size: 34px;
        margin-top: 16px;
        margin-bottom: 25px;
    }
    .greeting {
        margin-bottom: 0px;
        padding-bottom: 50px;
    }
    .greeting .container_narrow .lefted {
        padding-right: unset;
    }
    .greeting__slider {
        width: 100%;
        overflow: hidden;
        padding-bottom: 55px;
    }
    .greeting__slider .swiper-slide {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .slider-buttons__wrap, .slider-pagination__wrap {
        position: relative;
    }
    .slider-pagination__wrap .swiper-button-next, .slider-pagination__wrap .swiper-button-prev, .slider-pagination__wrap .swiper-pagination-fraction {
        bottom: auto;
        top: 0px;
        height: 55px;
    }
    .slider-pagination__wrap .swiper-button-next, .slider-pagination__wrap .swiper-button-prev {
        top: 25px;
        background-position-y: center;
    }
    .prodcarousel .hero__beans_animate {
        display: none;
    }
    .prodcarousel_collections .tablinks {
        font-size: 45px;
    }
    .tara_list li:nth-child(1) {
        height: 85px;
        -ms-flex-preferred-size: 85px;
        flex-basis: 85px;
        line-height: 134px;
    }
    .tara_list li:nth-child(2) {
        height: 105px;
        -ms-flex-preferred-size: 105px;
        flex-basis: 105px;
        line-height: 169px;
    }
    .tara_list li:nth-child(3) {
        height: 125px;
        -ms-flex-preferred-size: 125px;
        flex-basis: 125px;
        line-height: 169px;
    }
    .tara_list li:nth-child(4) {
        height: 130px;
        -ms-flex-preferred-size: 130px;
        flex-basis: 130px;
        line-height: 169px;
    }
    .tara_list li:nth-child(5) {
        height: 140px;
        -ms-flex-preferred-size: 140px;
        flex-basis: 140px;
        line-height: 169px;
    }
    .tara_list li:nth-child(6) {
        height: 150px;
        -ms-flex-preferred-size: 150px;
        flex-basis: 150px;
        line-height: 169px;
    }
    .tara_list li:nth-child(7) {
        height: 160px;
        -ms-flex-preferred-size: 160px;
        flex-basis: 160px;
    }
    .tara_list li {
        min-height: auto;
    }
    .tara_list li input::after {
        height: 100%;
    }
    .prodcarousel_collections.container_narrow {
        padding-bottom: 50px;
    }
    .fact-icons .header-standart::after {
        bottom: -30px;
    }
    .fact-icons__slider {
        padding: 50px 0;
        position: relative;
        overflow: hidden;
    }
    .fact-icons__slider .slider-pagination__wrap {
        position: absolute;
        top: 73px;
        left: auto;
        height: 100px;
        width: 100%;
    }
    .fact-icons__slider .swiper-button-next, .fact-icons__slider .swiper-button-prev {
        width: 70px;
    }
    .fact-icons__corner4, .fact-icons__bgline {
        background: none;
    }
    .fact-icons__item:nth-child(1), .fact-icons__item:nth-child(3) {
        margin-top: 0;
    }
    .banner-bread__left {
        font-size: 45px;
        text-align: center;
        line-height: 1.1em;
    }
    .banner-bread>.container_narrow {
        min-height: 470px;
    }
    .banner-bread {
        background-image: url("banner-bread-sm.png");
    }
    .geo-map__right {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }
    .geo-map__list>li {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .geo-map__list .greeting_numbers {
        margin-right: unset;
    }
    .geo-map .header-standart.lefted {
        text-align: center;
    }
    .geo-map .header-standart.lefted::after {
        bottom: -20px;
        width: 100%;
        left: 0;
    }
    .geo-map .font-sans {
        text-align: center;
        max-width: none;
        padding-bottom: 20px;
    }
    .animate1_2 {
        display: none;
    }
    .geo-map .text-title {
        text-align: center;
        font-size: 48px;
    }
    .info0, .info0_1, .info0_2, .info0_3, .info0_4 {
        top: 0;
    }
    .info0_1_text, .info0_2_text {
        position: relative;
        height: 155px;
        width: 170px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 10px auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        top: unset;
        right: unset;
        background: url("info0-circle.png") no-repeat center center transparent;
    }
    .info0_2 {
        background: none;
    }
    .elevator>.container_narrow {
        min-height: 499px;
    }
    .siteFooter {
        background-image: url("footer_bg-sm.png");
    }
    .siteFooter__contacts {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }
    .siteFooter__phone {
        margin-left: unset;
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
        text-align: center;
        width: 100%;
    }
    .siteFooter__icon_link {
        margin: 5px 15px 15px;
    }
    .siteFooter__copy {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .siteFooter .pin-bottom {
        padding-bottom: 45px;
    }
    .elevator {
        padding: 50px 0;
    }
    .siteFooter {
        -webkit-clip-path: none;
        clip-path: none;
        padding-top: 30px;
        margin-top: -15px;
    }
    .promo.aboutus {
        background: url("about-head__bg-sm.png") no-repeat bottom center / cover transparent;
    }
    .aboutus-block {
        height: auto;
        min-height: 697px;
    }
    .aboutus-block .hero__text_block {
        padding-bottom: 275px;
    }
    .history__block {
        background: none;
    }
}