 

@media (max-width: 1400px) { 
    .bottom-header .logo-wrap {
    top: 0; 
} }

@media (max-width: 768px) { 
    .bottom-header .logo-wrap {
    top: 0; 
} }

@media (max-width: 460px) { 
    .bottom-header .logo-wrap {
    top: 0; 
} }
